<div class="row">
	<h2> Nova Conta </h2>

	<%= form_for @account do |f| %>
		<%= f.label :number %>
		<%= f.text_field :number %>
	<% end %>
</div>

</br>
<button type="submit" class="btn btn-primary">Nova Conta</button>
